 <!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="index.js"></script>

</head>

<body>

<div class="container" ng-controller="indexController">
  <h1>My Market</h1>
<h5>Filters</h5>
  <form novalidate ng-submit="loadProducts()">
    <div class="form-floating input-group-sm">
      <input type="text" class="form-control" id="filterTitle" placeholder="" ng-model="filter.title_part">
      <label for="filterTitle">Title</label>
    </div>
    <p></p>
    <div class="form-floating input-group-sm">
      <input type="number" class="form-control" id="filterMinPrice" placeholder="" ng-model="filter.min_price">
      <label for="filterMinPrice">Min Price</label>
    </div>
    <p></p>
    <div class="form-floating input-group-sm">
      <input type="number" class="form-control" id="filterMaxPrice" placeholder="" ng-model="filter.max_price">
      <label for="filterMaxPrice">Max Price</label>
    </div>
    <p></p>
    <button class="btn btn-outline-warning btn-sm" style="width: 100%;" type="submit">Submit</button>
  </form>

<h5>Products</h5>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Actions</th>
      <th scope="col">Actions</th>
    </thead>
    <tbody>
    <tr ng-repeat="p in products">
      <td>{{p.id}}</td>
      <td>{{p.title}}</td>
      <td>{{p.price}}</td>
      <td>{{p.category}}</td>
      <td>
        <button type="button" class="btn btn-danger" ng-click="deleteProduct(p.id)">Delete</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" ng-click="addProductToCart(p.id)">Add </button>
      </td>
    </tr>
    </tbody>
  </table>



<h5>Add New Products to Marker</h5>
  <form novalidate ng-submit="addNewProduct()">
    <div class="form-floating input-group-sm">
      <input type="text" class="form-control" id="Title" placeholder="" ng-model="newProduct.title">
      <label for="Title">Title</label>
    </div>
    <p></p>
    <div class="form-floating input-group-sm">
      <input type="number" class="form-control" id="Price" placeholder="" ng-model="newProduct.price">
      <label for="Price">Price</label>
    </div>

    <button class="btn btn-outline-warning btn-sm" style="width: 100%;" type="submit">Submit</button>
  </form>

  <h5>Cart</h5>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
      <th scope="col">Actions</th>
    </thead>
    <tbody>
    <tr ng-repeat="c in cartList">
      <td>{{c.id}}</td>
      <td>{{c.title}}</td>
      <td>{{c.price}}</td>
      <td>
        <button type="button" class="btn btn-danger" ng-click="deleteProductFromCart(c.id)">Delete</button>
      </td>

    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-danger" ng-click="clearCart()">clear cart</button>



</div>


</body>
</html>